
.icon-up-open-big:before { content: '\e800'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */